.App{
  background-image: url('/src/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* background: red; */
}

.brick-map{
  background-image: url('/src/images/brick-map.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 3%;
  margin-right: 3%;
  height: 87vh;
  align-items: flex-end;
  /* background-color: blue; */
}

.towertop{
  background-image: url('/src/images/towertop.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vh;
  width: 100vw;
  /* background-color: green; */
}

.summon{
  background-image: url('/src/images/summon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 8%;
  background-color: rgba(255, 0, 0, 0.0);
  background-position: bottom;
  border-width: 0px;
  font-family: 'Silkscreen', cursive;
  color: lightgray;
  padding: 0%;
  margin: 0%;
  animation: wiggle 2s;
}

@keyframes wiggle{
  0%{transform: translate(1px, 1px) rotate(0deg);}
  40%{transform: translate(1px, -1px) rotate(1deg);}
  50%{transform: translate(-1px, 2px) rotate(-1deg);}
  60%{transform: translate(-3px, 1px) rotate(0deg);}
  70%{transform: translate(3px, 1px) rotate(-1deg);}
  80%{transform: translate(-1px, -1px) rotate(1deg);}
  90%{transform: translate(1px, 2px) rotate(0deg);}
  100%{transform: translate(1px, -2px) rotate(-1deg);}
}

/* door */
.door{
  background-image: url('/src/images/door.png');
  background-size: contain;
  background-color: rgba(255, 0, 0, 0.0);
  background-repeat:no-repeat;
  background-position: bottom;
  border-width: 0px;
  width: 8%;
  margin-bottom: 0%;
}

.floor{
  background-image: url('/src/images/floor.png');
  height: 1vh;
  width: 94vw;
}

/* rope ladder */
.ladder{
  background-image: url("http://localhost:3000/images/rope_ladder.png");
  background-size: contain;
  background-color: rgba(255, 0, 0, 0.0);
  background-repeat:no-repeat;
  background-position: 0% 0%;
  border-width: 0px;
  width: 5%; 
  padding: 0%;
}

/* gate */
.gate{
  background-image: url('/src/images/gate.png');
  background-size: contain;
  background-position: 50% 100%;
  background-repeat:no-repeat;
  background-color: rgba(255, 0, 0, 0.0);
  border-width: 0px;
  width: 23%;
  margin-left: 10px;
  margin-bottom: 0%;
  padding: 0%;
}

/* Level 4 */
.radioRow4{
  display:flex;
  justify-content: space-between;
  height: 21vh;
}

.radioRow4 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioRow4 label {
  width: 16%;
}

.radioRow4 input[type="radio"]:checked + label {
  display: flex;
  align-items: flex-end;
  background-image: url("http://localhost:3000/images/player1.png");
  background-repeat:no-repeat;
  background-position: 50% 100%;
  background-size: 30%;
}

/* Level 3 */
.radioRow3{
  display:flex;
  justify-content: space-between;
  height: 20.5vh;
}

.radioRow3 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioRow3 label {
  width: 16%;
}

.radioRow3 input[type="radio"]:checked + label {
  display: flex;
  align-items: flex-end;
  background-image: url("http://localhost:3000/images/player1.png");
  background-repeat:no-repeat;
  background-position: 50% 100%;
  background-size: 30%;
}

/* Level 2 */
.radioRow2{
  display:flex;
  justify-content: space-between;
  height: 20.5vh;
}

.radioRow2 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioRow2 label {
  width: 16%;
}

.radioRow2 input[type="radio"]:checked + label {
  display: flex;
  align-items: flex-end;
  background-image: url("http://localhost:3000/images/player1.png");
  background-repeat:no-repeat;
  background-position: 50% 100%;
  background-size: 30%;
}

/* Level 1 */
.radioRow1{
  display:flex;
  justify-content: space-between;
  height: 21vh;
}

.radioRow1 input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioRow1 label {
  width: 16%;
}

.radioRow1 input[type="radio"]:checked + label {
  display: flex;
  align-items: flex-end;
  background-image: url("http://localhost:3000/images/player1.png");
  background-repeat:no-repeat;
  background-position: 50% 100%;
  background-size: 30%;
}