.room-container {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    border: solid black 2px;
    height: 10vh;
    align-items: center;
    background-color: slategray;
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    color: azure;
}

.main {
    display: flex;
    height: 40vh;
    border: solid black 2px;
    flex-direction: row;
    background-image: url('/src/images/castle-walls.png');
    background-size: contain;
}

.footer {
    display: flex;
    border: solid black 2px;
    height: 50vh;
    flex-direction: row;
    background-color: firebrick;
}

progress {
    border: solid rgb(25, 30, 178) 2px;
    border-radius: 7px; 
    width: 16em;
    height: 40%;
    box-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.2 );
  }
  progress::-webkit-progress-bar {
    background-color: rgb(255, 0, 30);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-image: linear-gradient(to right, yellow, green, green);
    border-radius: 7px;
  }

.enemy-box-riddle {
    border: solid black 2 px;
    width: 40%;
    height: 100%;
    background-image: url('/src/images/Old_man.png');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    color: azure;
    font-size: 1.3em;
    font-family: 'Silkscreen', cursive;
}

.player-box-riddle {
    border: solid black 2 px;
    width: 50%;
    background-image: url('/src/images/warrior.gif');
    background-repeat: no-repeat;
    background-position: 50% 30%;
    color: azure;
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
}

.player-box-riddle-alt {
    border: solid black 2 px;
    width: 50%;
    background-image: url('/src/images/bloodsplats_0007.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: azure;
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: column;
}

.reward-box {
    display: flex;
    width: 20%;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    background-color: firebrick;
}

.inventory-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 20%;
    height: 49.5vh;
    border: 2px solid black;
    background-color: firebrick;
    background-image: url('/src/images/scroll_2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.text-box {
    width: 60%;
    border: 2px solid black;
    font-size: 20px;
    background-color: slategray;
    font-family: 'Silkscreen', cursive;
    align-items: center;
}

.vs-img {
    width: 8vw;
    height: 8vh;
}

.char-name {
    width: 15%;

}

.riddle-button {
    background-image: radial-gradient(yellow, firebrick);
    font-family: 'Silkscreen', cursive;
    font-size: 18px;
    cursor: pointer;
}

/* .riddler {
    height: 100%;
} */

.spikes {
    height: 18vh;
    margin-top: 12vh;
    width: 8vw;
    margin-left: 20vw;
}

.gold {
    font-family: 'Silkscreen', cursive;
    font-size: 18px;
}









