.home-page {
    background-image: linear-gradient(to top, black, firebrick);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Silkscreen', cursive;
    color: lightgray;
    text-align: center;
}

.mainpage-header{
    font-size: 1.6em;
    height: 20%;
    width: 80%;
}

.main-body{
    height: 50%;
    width: 95%;
    font-size: 1.5em;
}

.mainpage-footer{
    font-size: 1.5em;
    height: 10%;
    width: 95%;
}

.start-game{
    background-image: url('/src/images/button.png');
    background-size: cover;
    border-color: slategray;
    border-width: 3px;
    border-radius: 3%;
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    color: lightgray;
}

.form{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.nameinput{
    justify-content: center;
    align-self: center;
    font-family: 'Silkscreen', cursive;
    width: 35vw;
    font-size: .8em;
}

.name-button{
    align-self: center;
    font-family: 'Silkscreen', cursive;
    background-image: url('/src/images/button.png');
    background-size: cover;
    border-color: slategray;
    color: lightgray;
    font-size: .8em;
}

.username{
    display: flex;
    flex-flow: column;
    height: 30%;
    width: 98%;
    padding: 1%;
}

.playerhomepage{
    background-image: url("/src/images/player1.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.namehomepage{
    height: 50%;
    width: 100%;
}